* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 10px;
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Regular.ttf);
}
body {
  font-family: poppins;
}
a {
  text-decoration: none;
  color: inherit !important;
}
ul {
  list-style: none;
}
hr {
  width: 90%;
  margin: auto;
  border: 1px solid rgb(240, 239, 239);
}
.logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}
.about h2 {
  font-size: 10px;
}
.about-info {
  height: 25px;
  /* background-color: #edede7; */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.about-info ul {
  display: flex;
  justify-content: space-between;
}
.about-info ul .phone-number {
  width: 0px;
  display: none;
  background-color: #3d1f90;
}
.open-phone {
  /* display: block; */
}
.about-info ul li {
  margin: 0 10px;
}
.about-info ul li i {
  font-size: 13px;
}
.about-info ul li span {
  font-size: 14px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 55px;
  filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.119));
  padding: 0 50px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.links {
  display: flex;
}
.links li {
  padding: 0 10px;
  font-weight: bold;
  font-size: 17px;
}

.slider {
  display: flex;
  align-items: center;
  padding: 0 30px;
}
.hero-content h2 {
  font-size: 4em;
  font-style: Poppins "san-serif";
}
.hero-text {
  font-size: 19 px;
  color: rgb(36, 36, 36);
}
.about-content {
  display: flex;
  align-items: center;
  padding: 0 50px;
}
section {
  /* height: 100vh; */
  margin: 30px;
}

.content-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}
.about-img {
  height: 80vh;
  flex: 1;
}
.about-img img {
  height: 100%;
}
.about {
  flex: 1;
}
.about h2 {
  font-size: 2em;
  margin-bottom: 10px;
}
.about p {
  text-align: justify;
  font-size: 17px;
  line-height: 25px;
}
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  width: 90%;
  margin: auto;
  margin: 2.5rem auto;
}
.service-icon i {
  font-size: 90px;
}
.service-card {
  width: 320px;
  height: 300px;
  padding: 20px 15px;
  border-radius: 20px;
  box-shadow: 1px 1px 20px -15px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 1px 1px 20px -15px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 1px 1px 20px -15px rgba(0, 0, 0, 0.65);
}
.service-title {
  font-size: 19px;
  font-weight: bold;
}
.service-desc {
  font-size: 14px;
  color: #666666;
}
.more {
  background-color: #e1e1e1;
  height: 20px;
  border-radius: 15px;
  padding: 3px 10px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 16px;
}
.filter {
  display: flex;
  margin: 20px 50px;
  justify-content: center;
}
.filter-bg {
  background-color: #f4f4f8;
  margin: 0 20px;
  border-radius: 10px;
}
.filter ul {
  display: flex;
}
.filter ul li {
  margin: 5px 15px;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
}
.filter ul li.active {
  background-color: #fff;
  font-weight: bold;
}
.search-box {
}
.search-box input {
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
}

.search-box i {
  padding: 0 8px;
}
.product {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  width: 90%;
  margin: auto;
}
.products-content {
  transition: all 0.5s ease-in-out;
  background-color: #3d1f90;
  overflow: hidden;
  position: relative;
  height: 250px;
  border-radius: 5px;
  box-shadow: 1px 1px 20px -15px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 1px 1px 20px -15px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 1px 1px 20px -15px rgba(0, 0, 0, 0.65);
}
.description {
  height: 0px;
  position: absolute;
  bottom: -10px;
  background: linear-gradient(to bottom, #f4f4f8, rgba(255, 255, 255, 0.756));
  width: 100%;
  transition: 0.5s ease-in-out;
  padding: 5px 8px;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
/* .description p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  /* display: none; */
/* }  */
.products-content:hover img {
  scale: 1.1;
  cursor: pointer;
}
.products-content:hover .description {
  height: 80px;
  bottom: 0;
}

.products-content img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  border: inherit;
}
.p-title {
  font-weight: bold;
  font-size: 16px;
}
.p-disc {
  font-size: 13px;
  color: gray;
}
.contact-container {
  width: 85%;
  margin: auto;
  display: flex;
  height: 90vh;
  margin-top: 2.5rem;
  box-shadow: 0px -1px 165px -70px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 0px -1px 165px -70px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px -1px 165px -70px rgba(0, 0, 0, 0.41);
}
.info-contact,
.contact-form {
  flex: 1;
}
.info-contact {
  background-color: #3d1f90;
  width: 60%;
  margin: 0px 0 0px 100px;
  padding: 50px 35px;
  color: #fff;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.contact-form {
  margin: 0px 0 0px 0;
  padding: 50px 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.info-contact h2 {
  margin-bottom: 15px;
}
.info-contact ul {
  margin: 50px 0px 20px 30px;
}
.info-contact ul li i {
  margin-right: 10px !important;
  /* margin: 5px 0; */
}
.info-contact ul li:nth-of-type(2) {
  margin-left: 15px;
  /* color: rebeccapurple; */
}
.circle {
  position: absolute;
}
.blue-circle {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background-color: #fa949d;
  right: -60px;
  bottom: -130px;
}
.pink-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #af69d7b2;
  right: 85px;
  margin-top: 130px;
}

.row {
  display: flex;
  gap: 1rem;
}
.form-control {
  width: 100%;
  height: 2rem;
  border: 1px solid rgb(212, 211, 211);
  outline: none;
  margin-right: 0 10xp;
  font-size: 16px;
  padding: 0 10px;
  margin-bottom: 30px;
}

.btn-send {
  background-color: #3d1f90;
  outline: none;
  border: none;
  padding: 10px 15px;
  width: 150px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
.msg {
  height: 150px;
}
footer {
  margin-top: 10rem;
  margin-bottom: 3.5rem;
}
.footer-developer,
.footer-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}
.footer-developer {
  align-items: center;
  margin-top: 3.5rem;
}
.motto {
  font-weight: bold;
}
.motto-text {
  font-size: 14px;
}
.right {
  display: flex;
  flex-direction: column;
}
.socialMedia ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
.socialMedia ul li {
  background-color: #ffffff;
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.42);
  padding: 10px;
  border-radius: 5px;
}
.left {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
}
.list-title {
  font-weight: bold;
  font-size: 17px;
}
.pro ul li {
  margin: 8px 0;
}
.address {
  margin-top: 10px;
}
@media screen and (max-width: 428px) {
  .product {
    display: grid;
    grid-template-columns: 1fr;
  }
}
